!!! 5
html
	head
		title standart-n
		meta(http-equiv = "Content-Language", content = "ru")
		meta(http-equiv = "Content-Type", content = "text/html; charset=utf-8")
		meta(name = "description", content = "standart-n")
		meta(name = "keywords", content = "standart-n")
		meta(name = "Revesit", content = "3")
		meta(name = "Document-state", content = "Dynamic")
		meta(name = "Copyright", Lang = "eng", content = "2012 standart-n.ru")
		meta(name = "Copyright", Lang = "ru", content = "2012 НВП Стандарт-Н")
		meta(name = "robots", content = "all")
		meta(name = "viewport", content = "width=device-width, initial-scale=1.0")
		// meta(name = "viewport", content = "user-scalable=no")
		link(href = "favicon.ico", rel = "icon", type = "image/x-icon")
		link(href = "favicon.ico", rel = "shortcut icon", type = "image/x-icon")
		link(href = "style/style.css", rel = "stylesheet", type = "text/css")
		//[if lt IE 9]
			script(src = "http://html5shim.googlecode.com/svn/trunk/html5.js")
	body
		#sn
		
		a#push-demand(href = "#") Сделать заявку

		#wall-demand
		
		#modal-demand.modal
			.modal-header
				a.close(href = "#") &times;
				h3 Сделать заявку
			
			.modal-body
				p 
					Если Вас заинтересовали наши разработки, Вы можете оставить заявку, указав Вашу контактную информацию, и в ближайшее время наши специалисты свяжутся с Вами.
				table(border = "0", cellpadding = "2", cellspacing = "0")
					tr
						td 
							.modal-label Ваше имя:
						td 
							input#demand-name(type = "text", placeholder = "Ваше имя")
						td 
							#validate-name
								.validate-true
									&nbsp;
									i.icon-ok
								.validate-false
									&nbsp;
									i.icon-remove

					tr
						td 
							.modal-label Ваш телефон:
						td 
							input#demand-phone(type = "text", placeholder = "Ваш телефон")
						td 
							#validate-phone
								.validate-true
									&nbsp;
									i.icon-ok
								.validate-false
									&nbsp;
									i.icon-remove

					tr
						td(colspan = "3")
							.modal-label-small Дополнительные поля:


					tr
						td 
							.modal-label E-mail:
						td 
							input#demand-email(type = "text", placeholder = "Адрес эл. почты")
						td 

					tr
						td 
							.modal-label Комментарий:
						td 
							textarea#demand-comment
						td


				.demand-success
					p Ваша заявка успешно отправлена!

				.demand-error
					p Ошибка. Возможно, Вы неверно заполнили некоторые поля!

			
			.modal-footer
				a#modal-close.modal-btn(href = "#") Закрыть
				a#modal-send.modal-btn(href = "#") Отправить

		#main



		#js
			script(src = "client.js", type = "text/javascript")



